<label for="server-name">Server Name</label>
<!-- <input name="server-name" type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input name="server-name" type="text" class="form-control" [(ngModel)] ='serverNAme'>
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)="onServerCreate()">Add new Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverStatus; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
    <p>No server created</p>
</ng-template>
<!-- <p>{{serverNAme}}</p> -->
<app-server *ngFor="let server of servers"></app-server>
